@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap');

body{
    font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}
.font-NotoSans{
    font-family: 'Noto Sans TC';
}
.font-roboto{
    font-family: 'Roboto';
}